@model dpuExchange.Models.MainModel

@{
    ViewBag.Title = "Post";
}

    <h2>Create a Post</h2>
    <div class="row">
    <div class="span4">
    @using (Html.BeginForm("Create", "Books"))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Please Enter Book Information</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.BooksModel.Isbn, "ISBN")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BooksModel.Isbn)
                @Html.ValidationMessageFor(model => model.BooksModel.Isbn)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.BooksModel.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BooksModel.Title)
                @Html.ValidationMessageFor(model => model.BooksModel.Title)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.BooksModel.Author)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BooksModel.Author)
                @Html.ValidationMessageFor(model => model.BooksModel.Author)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.BooksModel.Price)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BooksModel.Price)
                @Html.ValidationMessageFor(model => model.BooksModel.Price)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.BooksModel.Condition)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BooksModel.Condition)
                @Html.ValidationMessageFor(model => model.BooksModel.Condition)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.BooksModel.Comments)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BooksModel.Comments)
                @Html.ValidationMessageFor(model => model.BooksModel.Comments)
            </div>
               <input  class="btn" type="submit" value="Create" />
        </fieldset>
    }

    </div>

    <div class="row">
        <div class="span5 offset2">
        <br />
        <div>
            <legend>Enter title to search for ISBN</legend>
                    @using (Html.BeginForm("searchForISBN", "Books"))
                    {
                        @Html.TextBoxFor(m => m.SearchModel.SearchByTitle, new { @class = "search-query" })
                        <input class="btn" id="searchForISBN" type="submit" value="Search" />
                    }
                        
                        
                        @using (Html.BeginForm())
                        {

                            if (this.Model != null)
                            {
                                if (Model.IsbnCollection.numRecords >= 1)
                                {
                                    <div id="resultMessage" style="color:Red">
                                        @Html.LabelFor(m => m.IsbnCollection.numRecords, "Showing top "+ Model.IsbnCollection.numRecords+ " results")
                                    </div>
                                    <br />
                                    <div class="resultItem">
                                        @Html.LabelFor(m => m.IsbnCollection.result1.Isbn)
                                        @Html.DisplayFor(m => m.IsbnCollection.result1.Isbn)
                                        <br />
                                        @Html.LabelFor(m => m.IsbnCollection.result1.Title)
                                        @Html.DisplayFor(m => m.IsbnCollection.result1.Title)
                                        <br />
                                        @Html.LabelFor(m => m.IsbnCollection.result1.Author)
                                        @Html.DisplayFor(m => m.IsbnCollection.result1.Author)
                                        <br /><br />
                                    </div>
                                }
                                if (Model.IsbnCollection.numRecords >= 2)
                                {
                                    <div class="resultItem">
                                        @Html.LabelFor(m => m.IsbnCollection.result2.Isbn)
                                        @Html.DisplayFor(m => m.IsbnCollection.result2.Isbn)
                                        <br />
                                        @Html.LabelFor(m => m.IsbnCollection.result2.Title)
                                        @Html.DisplayFor(m => m.IsbnCollection.result2.Title)
                                        <br />
                                        @Html.LabelFor(m => m.IsbnCollection.result2.Author)
                                        @Html.DisplayFor(m => m.IsbnCollection.result2.Author)
                                        <br /><br />
                                    </div>
                                }
                                if (Model.IsbnCollection.numRecords >= 3)
                                {
                                    <div class="resultItem">
                                        @Html.LabelFor(m => m.IsbnCollection.result3.Isbn)
                                        @Html.DisplayFor(m => m.IsbnCollection.result3.Isbn)
                                        <br />
                                        @Html.LabelFor(m => m.IsbnCollection.result3.Title)
                                        @Html.DisplayFor(m => m.IsbnCollection.result3.Title)
                                        <br />
                                        @Html.LabelFor(m => m.IsbnCollection.result3.Author)
                                        @Html.DisplayFor(m => m.IsbnCollection.result3.Author)
                                        <br /><br />
                                    </div>
                                }
                                if (Model.IsbnCollection.numRecords >= 4)
                                {
                                    <div class="resultItem">
                                        @Html.LabelFor(m => m.IsbnCollection.result4.Isbn)
                                        @Html.DisplayFor(m => m.IsbnCollection.result4.Isbn)
                                        <br />
                                        @Html.LabelFor(m => m.IsbnCollection.result4.Title)
                                        @Html.DisplayFor(m => m.IsbnCollection.result4.Title)
                                        <br />
                                        @Html.LabelFor(m => m.IsbnCollection.result4.Author)
                                        @Html.DisplayFor(m => m.IsbnCollection.result4.Author)
                                        <br /><br />
                                    </div>
                                }
                                if (Model.IsbnCollection.numRecords == 0)
                                {
                                   <div style="color:Red">
                                        Search did not return any results. Please refine search and try again.
                                    </div>
                                }

                            }
                        }
                      
                </div>
                <div id="searchResults">
                    <p id="results"></p>
                </div>
        </div>
    </div>
</div>