@model dpuExchange.Models.Books

@{
    ViewBag.Title = Model.Title;
}


<fieldset>
    <legend>"@Model.Title" by @Model.Author</legend>

    <div class="display-label">Seller</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>
    <div class="display-label">ISBN</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Isbn)
    </div>
    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Author</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        $@Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">Condition</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Condition)
    </div>

    <div class="display-label">Comments</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comments)
    </div>

    <div class="display-label">Posted On</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostDate)
    </div>
</fieldset>
<br />
<p>  
    @Html.ActionLink("Back to List", "Index")
</p>