@model dpuExchange.Models.DetailsModel

@{
    ViewBag.Title = Model.Book.Title;
    var stringTemp = "";
}

<div class="row">
    <div class="span">
        <fieldset>
            <legend>"@Model.Book.Title" by @Model.Book.Author</legend>

            <div class="display-label">Seller</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Book.UserID)
            </div>
    
            <div class="display-label">ISBN</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Book.Isbn)
            </div>
            <div class="display-label">Title</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Book.Title)
            </div>

            <div class="display-label">Author</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Book.Author)
            </div>

            <div class="display-label">Price</div>
            <div class="display-field">
                $@Html.DisplayFor(model => model.Book.Price)
            </div>

            <div class="display-label">Condition</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Book.Condition)
            </div>

            <div class="display-label">Comments</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Book.Comments)
            </div>

            <div class="display-label">Posted On</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Book.PostDate)
            </div>
        </fieldset>
        <br />
        <p>  
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>

    <div class="row" style="margin-top:120px;">
        <div>
            @{stringTemp = "http://covers.openlibrary.org/b/isbn/" + Model.Book.Isbn + "-M.jpg?default=false";}
              <img class="" style="width:120px; height:160px;" src=@stringTemp alt="Image" onerror="this.src='../../../Content/Images/image404.png';"/>
        </div>
        <br />
        <h5>Interested in this book? Let the seller know!</h5>
        <a class="btn btn-warning btn-large" href="@Url.Action("RequestPage", "Email", new { id = @Model.Book.UserID, bookTitle = @Model.Book.Title })">I'm Interested</a>
    </div>
</div>

<hr style=" border-color:#999999; border-width:thin; align:center;" />

<div class="row" style="margin-left:5px">
    <h3>More Books Posted by @Html.DisplayFor(model => model.Book.UserID)</h3>
    <ul class="thumbnails">
    @{var counter = 0;
        foreach (var item in Model.AllBooks)
        {
            if (counter <= 2)
            {
                if (item.UserID == Model.Book.UserID && item.BookID != Model.Book.BookID)
                {
                    <li class="span4"><a href="@Url.Action("Details", "Books", new { id = item.BookID })">
                    <div class="thumbnail right-caption ">
                    @{stringTemp = "http://covers.openlibrary.org/b/isbn/" + item.Isbn + "-M.jpg?default=false";}
                      <img class="" style="width:120px; height:160px;" src=@stringTemp alt="Image" onerror="this.src='../../../Content/Images/image404.png';"/>
                      <div class="caption span2">
                        <h6>@Html.DisplayFor(modelItem => item.Title) </h6>
                        @Html.DisplayFor(modelItem => item.Author)
                      </div>
                    </div>
                  </a></li>
                    counter++;
                }
            }
        }
    }
    </ul>
</div>